.tasks__container {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__todo {
  color: var(--penColor);
  font-weight: bold;
  margin-bottom: 1rem;
}
.tasks {
  background-color: var(--WT);
  padding: 2rem;
  border-radius: 2rem;
  width: 80%;
}
.input__task__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.input__task {
  display: flex;
  align-items: center;
}
.input__task button {
  margin-left: 0.5rem;
}

.input__text {
  margin-bottom: 0px;
  margin-right: 0.5rem;
}
.tasks__container .ant-form-item {
  margin-bottom: 0px;
}

.table__tasks ul {
  justify-content: center !important;
}
.ic__btn {
  cursor: pointer;
}
.search__input {
  position: relative;
}
.autocomplete-dropdown {
  position: absolute;
  border: 1px solid #d9d9d9;
  border-top: none;
  top: calc(100% + 2px);
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}

.autocomplete-item {
  padding: 8px;
  cursor: pointer;
}
.signout__user {
  margin-top: 1rem;
  background: var(--goldColor);
  color: var(--penColorDark);
  border: none;
  font-weight: bold;
}
.signout__user:hover {
  background: none !important;
  border: 1px solid var(--goldColor) !important;
  color: var(--goldColor) !important;
}
.autocomplete-item:hover {
  background-color: #f5f5f5;
}
.no__data__tasks {
  color: var(--penColorDark);
  font-weight: bold;
}
@media (max-width: 480px) {
  .tasks {
    padding: 1rem;
    width: 90%;
  }
  .btn__task {
    display: none;
  }
  .input__task {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .add__input__task {
    width: 100%;
  }
  .search__input {
    width: 100%;
  }
  .add__search__text {
    width: 100%;
  }
  .input__task__container {
    flex-direction: column-reverse;
  }
}
